/*dark font color #3d3b44 */
/* medium color #888699 */
/* light color #d4d0ee  or RGB 212, 208, 238*/

#welcome {
    width: 75%;
    font-size: 1.25rem;
    letter-spacing: 2px;
}
.about-section, .project-section, .skills-section{
    width: 90%;
    height: fit-content;
    padding: 25px;
    margin: 30px auto;
    border: 3px solid #888699;
    border-radius: 10px;
    background-color: rgba(212, 208, 238, 0.8);
    
}

#profile-me {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px double #888699;
    transition: all 0.8s linear;
}

#profile-me:hover {
    transform: scale(1.15) rotate(360deg);
}

.about-content {
    width: 80%;
    margin: 0 auto;
}

#ffxiv, .project a {
    color: #9c2434;
    cursor: pointer;
}
#ffxiv:hover {
    color: #b13646;
    text-shadow: 1px 1px #fff;
}

#ref-project, #meal-project, #pension-project {
    margin: 0 auto 15px;
    min-height: 30%;
    width: 50%;
    transition: all 1s ease-out;
    box-shadow: 2px 2px 3px #3d3b44;
}

#ref-project:hover, #meal-project:hover, #pension-project:hover {
    transform: scale(1.75) translateY(50px);
}

.project {
    margin-bottom: 20px;
    width: 85%;
    background-color: #aaa6be;
    border-radius: 10px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}

.project p {
    max-width: 80%;
    margin: 10px auto;
    text-align: justify;
}


.project a:hover {
    color: #f2f1fa;
}

.highlight {
    color: #f2f1fa;
}

.skills-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-group {
    padding: 10px;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
}

.skill-group progress {
    width: 300px;
    height: 20px;
    margin: 15px auto;

}

label {
    letter-spacing: 3px;
    font-weight: 700;

}



@media only screen and (max-width: 640px){
    #profile-me {
        height: 100px;
        width: 100px;
    }

    .about-content {
        width: 90%;
    }
    .about-content p{
        text-align: left;
    }

    #ref-project, #meal-project, #pension-project {
        margin: 0 auto 10px;
        min-height: 125px;
        width: 75%;
        transition: all 1s ease-out;
        box-shadow: 2px 2px 3px #3d3b44;
    }
    
    #ref-project:hover, #meal-project:hover, #pension-project:hover {
        transform: scale(1);
    }

    .project p {
        text-align: left;
        width: 90%;
    }

    .skills-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skill-group progress {
        width: 200px;
        height: 15px;    
    }

}