/*dark font color #3d3b44 */
/* medium color #888699 */
/* light color #d4d0ee  or RGB 212, 208, 238*/

#welcome {
    width: 75%;
    font-size: 1.25rem;
    letter-spacing: 2px;
}
.about-section, .project-section, .skills-section{
    width: 90%;
    height: fit-content;
    padding: 25px;
    margin: 30px auto;
    border: 3px solid #888699;
    border-radius: 10px;
    background-color: rgba(212, 208, 238, 0.8);
    
}

#profile-me {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px double #888699;
    transition: all 0.8s linear;
}

#profile-me:hover {
    transform: scale(1.15) rotate(360deg);
}

.about-content {
    width: 80%;
    margin: 0 auto;
}

#ffxiv {
    color: #9c2434;
    cursor: pointer;
}
#ffxiv:hover {
    color: #b13646;
    text-shadow: 1px 1px #fff;
}

@media only screen and (max-width: 640px){
    #profile-me {
        height: 100px;
        width: 100px;
    }

    .about-content {
        width: 90%;
    }
    .about-content p{
        text-align: left;
    }
}